<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dashstatics</name>
	<displayName><![CDATA[STATISTICS]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[display statistics on dashbord]]></description>
	<author><![CDATA[BELLILI RAMI]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
